.card {
    transition: 0.3s;
    border-radius: 0px 0px 5px 5px;
  }
  :host ::ng-deep .panel1 .p-panel-header {
    background-color: rgb(103, 193, 216);
    font-size: large;
    color: white;
    text-align: center;
}


.p1 .p{
  font-family: Arial;
}
h3.thick {
  font-weight: bold;
}


.heading {
  color: #ffffff;
  background-color: rgb(3, 22, 61);
  margin: 0px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  font-size: 1.5rem;
  border: none;
  text-align: center;
  padding: 15px;
  font-family: Arial;
}

.card-content-color {
  background-color: rgb(4, 44, 105);
  color: #ffffff;
  border: none;
  border-bottom-left-radius: 0px;
  line-height: 1.7rem;
  border-bottom-right-radius: 0px;
  font-family: Arial;
}



/// New CSS styles ///////////////////////


.main-card-heading {
  color: #2f91b0 ;
    font-size: 25px;
    font-weight: bold;
    margin: 0px;
    font-family: Arial;
}

.quailty-card-heading-90days {
  color: #fffeff;
  background-color: #5ebcd6;
  margin: 0px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  font-size: 1.2rem;
  border: none;
  text-align: center;
  padding: 10px;
  font-family: Arial;
  // color: #f38332;
}

.quailty-card-content-color-90days {
  background-color: rgb(255, 255, 255);
  color: #0e0e0e;
  border: none;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  padding-bottom: 1rem;
  font-family: Arial;
}
.quality-card-heading {
  color: #feffff;
  background-color: #072645;
  margin: 0px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  font-size: 1.2rem;
  border: none;
  text-align: center;
  padding: 10px;
  font-family: Arial;
}


.quality-card-content-color {
  background-color: #0b3a66;
  color: #fefefc;
  border: none;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  padding-bottom: 1rem;
  line-height: 2rem;
  font-family:Arial;
}

.revange-leakege-card {
  background-color: #d7e1e3;
  text-align: center;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border-radius: 5px;
  font-family: Arial;
}

.para {
  line-height: 0px;
  font-weight: 550;
  color: #363535;
  font-family: Arialf;
}

.cardData {
  border-radius: 1rem;
  font-family: Arial;
}

.fontCard {
  font-family: Arial;

}

:host ::ng-deep.p-card .p-card-body {
  padding-top: 0px;
}

:host ::ng-deep.p-card .p-card-content {
  padding-bottom: 0px!important;
}


// 12/02/2022 css styles


// @media screen and (min-width: 750px) {
//   .dept_align {
//      min-height: 100%;
//      width:90px
//   }
// }

// @media (min-width:374px) and (max-width:424px) {
//   .dept_align {
//      width:80px;
//   }
//   .mob_font{
//     font-size:12px;
//   }


// }
// .card {
//     transition: 0.3s;
//     border-radius: 5px 5px 5px 5px;
//   }
//   :host ::ng-deep .panel1 .p-panel-header {
//     background-color: rgb(103, 193, 216);
//     font-size: large;
//     color: white;
//     text-align: center;
// }

// .card_rev {
//   transition: 0.3s;
//   border-radius: 0px 0px 5px 5px;
//   padding:20px;
// }


// .p1 .p{
//   font-family: Arial, Helvetica, sans-serif;
// }
// h3.thick {
//   font-weight: bold;
// }


// .heading {
//   color: #ffffff;
//   background-color: rgb(3, 22, 61);
//   margin: 0px;
//   border-top-left-radius: 5px;
//   border-top-right-radius: 5px;
//   font-size: 1.5rem;
//   border: none;
//   text-align: center;
//   padding: 10px;
// }

// .card-content-color {
//   background-color: rgb(4, 44, 105);
//   color: #ffffff;
//   border: none;
//   border-bottom-left-radius: 0px;
//   line-height: 1.7rem;
//   border-bottom-right-radius: 0px;
// }



// /// New CSS styles ///////////////////////



// .main-card-heading {
//   color: rgb(14, 135, 196) ;
//   font-size: 25px;
//   font-weight: bold;
//   font-family: 'Roboto';
//   margin: 0px;
// }

// .quailty-card-heading-90days {
//   color: #ffffff;
//   background-color: rgb(124, 226, 225);
//   margin: 0px;
//   border-top-left-radius: 5px;
//   border-top-right-radius: 5px;
//   font-size: 1.2rem;
//   border: none;
//   text-align: center;
//   padding: 10px;
//   // color: #f38332;
// }

// .quailty-card-content-color-90days {
//   background-color: rgb(255, 255, 255);
//   color: #0e0e0e;
//   border: none;
//   border-bottom-left-radius: 5px;
//   border-bottom-right-radius: 5px;
//   padding-bottom: 1rem;
// }
// .quality-card-heading {
//   color: #ffffff;
//   background-color: rgb(12, 72, 169);
//   margin: 0px;
//   border-top-left-radius: 5px;
//   border-top-right-radius: 5px;
//   font-size: 1.2rem;
//   border: none;
//   text-align: center;
//   padding:   10px;
// }


// .quality-card-content-color {
//   background-color: rgb(2, 42, 102);
//   color: #ffffff;
//   border: none;
//   border-bottom-left-radius: 5px;
//   border-bottom-right-radius: 5px;
//   padding-bottom: 1rem;
//   line-height: 2rem;
// }

// .revange-leakege-card {
//   background-color: rgb(211 209 209 / 48%);
//   text-align: center;
//   padding: 10px;
//   border-radius: 5px;
// }
