<div class="layout-footer p-2">
    <div class="grid">
        <div class="col-1" style="width:6%;">
            <a href="/" class="logo-container">
                <img src="assets/compunder.png" width="55px" style="height:3rem;margin-left:1vh;" />
            </a>
        </div>
        <div class="col-7" style="padding-top: 0.8rem;">
            <div class="sty" style="font-size:x-large;margin-left:-8px;font-family:Arial"><b>Cayman Islands HSA</b></div>
            <div style="margin-left:-7px;font-family:Arial"><b>Finance Dashboard - September 2022</b></div>
        </div>
        <!-- <div class="col-1">
            <a href="/" class="logo-container">
                <img src="assets/doctor-newpng.png" width="55px" style="height:3rem;margin-left:1vh;"/>
            </a>
        </div>
        <div class="col-7" style="padding-top: 0.8rem;">
            <div class="sty" style="font-size:x-large"><b>Cayman Islands HSA</b></div>
            <div><b>Finance Dashboard - September 2022</b></div>
        </div> -->
        <div class="col-4 footer-icons" style="padding-top: 0.8rem;">

            <img src="assets/time/hospital.png" alt="" width="50px" style="height:3rem;margin-left:1vh;margin-top:5px">
            &nbsp;&nbsp;

            <img src="assets/time/calendar.png" alt="" width="50px" style="height:3rem;margin-left:1vh;margin-top:5px">

        </div>
    </div>
</div>


<!-- //////// date 12/02/2022 code finace dash board ///////////////// -->

<!-- <div class="grid card-color" style="padding: 1rem;">
    <div class="col-12 md:col-12 lg:col-12">
        <div class="grid flex justify-content-between">
            <div *ngFor="let data of cardData" class="col-12 md:col-6 lg:col-2" style="color:white;">
                <div class="card " [style.background-color]="data?.revenueColour">
                    <div class="grid">
                            <span class="col-7" style="text-align:start;font-size: 30px; font-weight: bold;">{{data?.revenueName}}</span> 
                     
                            <i class={{data?.revenueIcon}} style="font-size: 3em; font-weight: bolder;"
                                [style.color]="data?.revenueIconcolour"></i>
                     
                            <span class="col-7" style="text-align:start;"><b>{{data?.revenueValue}}</b></span>
                      
                            <p class="col-5" style="padding-left: 8px;font-size:bold"><b>{{data?.revenuePercentage}}</b></p>
                      
                    </div>
                </div>
            </div>
        </div>
        <div class="grid">
            <h3 class="col-12 main-card-heading">Revenue</h3>
            <div class="col-12 md:col-12 lg:col-12">
                <div class="grid">
                    <div class="col-12 md:col-12 lg:col-4">
                        <h1 class="quailty-card-heading-90days"> Revenue by Age
                        </h1>
                        <div class="card quailty-card-content-color-90days">
                            <p-chart type="pie" [data]="data" [options]="chartOptions" width="250" height="180">
                            </p-chart>
                        </div>
                    </div>
                    <div class="col-12 md:col-6 sm:col-6 lg:col-4">
                        <h1 class="quality-card-heading"> Top Revenue Departments
                        </h1>
                        <div class="card_rev quality-card-content-color">
                            <div class="grid">
                                <div class="col-3 md:col-2 sm:col-3 lg:col-1 dept_align mob_font">
                                    <div *ngFor="let dept of revenueDepartmentList1">
                                        <span><b>{{dept}}</b></span>
                                    </div>
                                </div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                <div class="col-3 md:col-2 sm:col-3 lg:col-1 mob_font" style="width:50px">
                                    <div *ngFor="let rup of rupees">
                                        <span><b>{{rup}}</b></span>
                                    </div>
                                </div>
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  
                                <div class="col-3 md:col-2 sm:col-3 lg:col-1 dept_align mob_font">
                                    <div *ngFor="let dep of revenueDepartmentList2">
                                        <span><b>{{dep}}</b></span>
                                    </div>
                                </div>   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
                                <div class="col-3 md:col-2 sm:col-3 lg:col-1 mob_font" style="width:50px">
                                    <div *ngFor="let rupe of rupees1">
                                        <span><b>{{rupe}}</b></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 md:col-6 lg:col-4">
                        <p-card [style]="{'background':'#26a5c5', color: 'white','height':'9rem'}">
                            <div class="grid">
                                <div>
                                    <h2 style="margin-bottom: 0px;">$87,530k</h2>
                                    <p style="margin-bottom: 0px; "><b>Revenue by Doctor</b></p>
                                    <p style="text-align:start; margin-bottom: 0px;">High: &nbsp;&nbsp;
                                        $123k(Cardiology)</p>
                                    <p style="text-align:start; margin-bottom: 0px;">Low: &nbsp;&nbsp;
                                      $68k(Urology)</p>
                                </div>
                                <div class="col-4 md:col-2 lg:col-1" style="margin:auto">
                                    <i class="pi pi-arrow-up" style="font-size: 3em;color:#1aff1a;font-weight: bolder;"></i>
                                    <span>10%</span>
                                </div>
                            </div>
                        </p-card>
                        &nbsp;&nbsp;
                        <div class="col-12 revange-leakege-card" style="padding-top:1rem ;">
                            <p style="font-size: 15px;"><b>Revenue Lekage</b></p>
                            <p style="font-size: 28px;font-weight: bold;">$123,349</p>
                        </div>
                    </div>
                </div>
            </div>
            <h3 class="col-12 main-card-heading">Expenses</h3>
            <div class="col-12 md:col-12 lg:col-12">
                <div class="grid">
                    <div class="col-12 md:col-12 lg:col-4">
                        <h1 class="quailty-card-heading-90days"> Expenses by Age
                        </h1>
                        <div class="card quailty-card-content-color-90days">

                            <p-chart type="pie" [data]="data1" [options]="chartOptions" width="250" height="180">
                            </p-chart>
                        </div>
                    </div>  
                    <div class="col-12 md:col-6 sm:col-6 lg:col-4">
                        <h1 class="quality-card-heading"> Top Expenses Departments
                        </h1>
                        <div class="card_rev quality-card-content-color">
                            <div class="grid">
                                <div class="col-3 md:col-2 sm:col-3 lg:col-1 dept_align mob_font">
                                    <div *ngFor="let dept of expenseDepartmentList">
                                        <span><b>{{dept}}</b></span>
                                    </div>
                                </div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                <div class="col-3 md:col-2 sm:col-3 lg:col-1 mob_font" style="width:50px">
                                    <div *ngFor="let rup of rupees">
                                        <span><b>{{rup}}</b></span>
                                    </div>
                                </div>
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  
                                <div class="col-3 md:col-2 sm:col-3 lg:col-1 dept_align mob_font">
                                    <div *ngFor="let dep of expenseDepartmentList2">
                                        <span><b>{{dep}}</b></span>
                                    </div>
                                </div>   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
                                <div class="col-3 md:col-2 sm:col-3 lg:col-1 mob_font" style="width:50px">
                                    <div *ngFor="let rupe of rupees1">
                                        <span><b>{{rupe}}</b></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                 <div class="col-12 md:col-6 lg:col-4">
                        <p-card [style]="{'background':'#26a5c5', color: 'white','height':'9rem'}">
                            <div class="grid">
                                <div>
                                    <h2 style="margin-bottom: 0px;">$42,730k</h2>
                                    <p style="margin-bottom: 0px;"><b>Expense by Doctor</b></p>
                                    <p style="text-align:start; margin-bottom: 0px;">High: &nbsp;&nbsp;
                                        $75k(Neurology)</p>
                                    <p style="text-align:start; margin-bottom: 0px;">Low: &nbsp;&nbsp;
                                        $38k(Pediatrics)</p>
                                </div>
                                <div class="col-4 md:col-2 lg:col-1" style="margin:auto">
                                    <i class="pi pi-arrow-down" style="font-size: 3em;color:#1aff1a;font-weight: bolder;"></i>
                                    <span>2%</span>
                                </div>
                            </div>
                        </p-card>
                        &nbsp;&nbsp;
                        <div class="col-12 revange-leakege-card" style="padding-top:1rem ;">
                            <p style="font-size: 15px;"><b>Overtime Costs</b></p>
                            <p style="font-size: 28px;font-weight: bold;">$1,230,349</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->




<!--////////////////////// Finance dashbord code //////////////////////////////////////////////////////-->

<div class="grid card-color" style="padding: 1rem;">
    <div class="col-12 md:col-12 lg:col-12">
        <div class="grid flex justify-content-between">
            <div *ngFor="let data of cardData" class="col-12 md:col-6 lg:col-2 " style="color:#ecf1f4;">
                <div class="card " [style.background-color]="data?.revenueColour" style="border-radius:1vh; padding-bottom: 10px;">
                    <div class="grid">
                        <div class="col-8">
                            <p style="text-align:start;font-size:2.5rem;font-family:Arial; font-weight: bold;">{{data?.revenueName}}</p>
                        </div>
                        <div class="col-4">
                            <i class={{data?.revenueIcon}} style="font-size: 3.3rem;margin-left:0.5vh; font-weight: bold;"
                                [style.color]="data?.revenueIconcolour"></i>

                        </div>
                        <div class="col-8" style="margin-top:-1vh;padding-top: 0px">
                            <p style="text-align:start;font-family:Arial;font-weight: bold;font-size:1rem; ;">{{data?.revenueValue}}</p>
                        </div>
                        <div class="col-4" style="margin-top:-1vh;padding-top: 2px;">
                            <p style="padding-left: 8px;font-size:bold;font-family:Arial;font-weight:bold;margin-left:5px; ">{{data?.revenuePercentage}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="grid">
            <h1 class="col-12 main-card-heading" style="font-family:Arial;font-size:2.3rem">Revenue</h1>
            <div class="col-12 md:col-12 lg:col-12">
                <div class="grid">
                    <div class="col-12 md:col-12 lg:col-4">
                        <h1 class="quailty-card-heading-90days" style="font-family:Arial;font-weight: bold;"> Revenue by Age
                        </h1>
                        <div class="card quailty-card-content-color-90days">

                            <p-chart type="pie" [data]="data" [options]="chartOptions" width="250" height="175" style="font-family:Arial">
                            </p-chart>

                        </div>
                    </div>
                    <div class="col-12 md:col-6 lg:col-4">
                        <h1 class="quality-card-heading" style="font-family:Arial;font-weight: bold;"> Top Revenue Departments
                        </h1>
                        <div class="card quality-card-content-color">
                            <div class="grid">
                                <div class="col-3 md:col-4 lg:col-4" >
                                    <div *ngFor="let dept of revenueDepartmentList1">
                                        <span style="font-family:Arial;font-weight: bold;">{{dept}}</span>
                                    </div>
                                </div>
                                <div class="col-3 md:col-2 lg:col-2" >
                                    <div *ngFor="let rup of rupees">
                                        <span style="font-family:Arial;font-weight: bold;">{{rup}}</span>
                                    </div>
                                </div>
                                <div class="col-3 md:col-4 lg:col-4" >
                                    <div *ngFor="let dep of revenueDepartmentList2">
                                        <span style="font-family:Arial;font-weight: bold;">{{dep}}</span>
                                    </div>
                                </div>
                                <div class="col-3 md:col-2 lg:col-2" >
                                    <div *ngFor="let rupe of rupees1">
                                        <span style="font-family:Arial;font-weight: bold;">{{rupe}}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 md:col-6 lg:col-4">
                        <div class="grid">
                            <div class="col-12">
                                <p-card [style]="{'background':'#26a5c5', color: 'white','height':'10rem', 'border-radius':'10px' }">
                                    <div class="grid fontCard" >
                                        <div class="col-4 md:col-7 lg:col-7" style="padding-bottom: 0px; padding-left: 22px; padding-right: 0px;">
                                            <h2 style="margin-bottom: 0px;font-family:Arial;font-size:2.5rem;font-weight:bold">$87,530k</h2>
                                            <p style="margin-bottom: 0px; font-size: 1rem; font-weight: 550;font-family:Arial;font-size:1.3rem">Revenue by Doctor</p>
                                            <p style="text-align:start; margin-bottom: 0px; margin-top: 5px;font-family:Arial;font-weight: bold;">High: <span style="padding-left: 0.5rem;">$123k(Cardiology) </span></p>
                                            <p style="text-align:start; margin-bottom: 0px; margin-top: 5px;font-family:Arial;font-weight: bold;">Low : <span style="padding-left: 0.5rem;">  $68k(Urology)</span> </p>

                                        </div>
                                        <div class="col-4 md:col-5 lg:col-5" style="margin: 0px;padding-left: 7rem; padding-top: 1rem; width: 1.6667%;">
                                            <i class="pi pi-arrow-up" style="font-size: 3.5em;color:#74f674; font-weight: bold;"></i>
                                            <span style="padding-left: 1rem;font-family:Arial;font-weight: bold;">10%</span>
                                        </div>
                                    </div>
                                </p-card>
                                <div class="col-12 revange-leakege-card" style="padding-top:1.5rem; margin-top: 1.3rem; border-radius: 10px;">
                                    <p style="font-size: 1.2rem;font-family:Arial;font-weight:bold" class="para">Revenue Leakage</p>
                                    <p style="font-size: 2.2rem;font-weight: bold;font-family:Arial; color: rgb(62, 61, 61);">$123,349</p>
                                </div>
                            </div>
                            
                        </div>

                    </div>

                </div>

            </div>
            <h3 class="col-12 main-card-heading" style="font-family:Arial;font-size:2.3rem">Expenses</h3>
            <div class="col-12 md:col-12 lg:col-12">
                <div class="grid">
                    <div class="col-12 md:col-12 lg:col-4">
                        <h1 class="quailty-card-heading-90days" style="font-family:Arial;font-weight: bold;"> Expense by Age
                        </h1>
                        <div class="card quailty-card-content-color-90days">

                            <p-chart type="pie" [data]="data1" [options]="chartOptions" width="250" height="175" [style]="{'font-family':'Arial'}">
                            </p-chart>

                        </div>
                    </div>
                    <div class="col-12 md:col-6 lg:col-4">
                        <h1 class="quality-card-heading" style="font-family:Arial;font-weight: bold;"> Top Expense Departments
                        </h1>
                        <div class="card quality-card-content-color">
                            <div class="grid">
                                <div class="col-3 md:col-4 lg:col-4" >
                                    <div *ngFor="let dept of expenseDepartmentList">
                                        <span style="font-family:Arial;font-weight: bold;">{{dept}}</span>
                                    </div>
                                </div>
                                <div class="col-3 md:col-4 lg:col-2" >
                                    <div *ngFor="let rup of rupees2">
                                        <span style="font-family:Arial;font-weight: bold;">{{rup}}</span>
                                    </div>
                                </div>
                                <div class="col-3 md:col-4 lg:col-4" >
                                    <div *ngFor="let dep of expenseDepartmentList2">
                                        <span style="font-family:Arial;font-weight: bold;">{{dep}}</span>
                                    </div>
                                </div>
                                <div class="col-3 md:col-2 lg:col-2" >
                                    <div *ngFor="let rupe of rupees3">
                                        <span style="font-family:Arial;font-weight: bold;">{{rupe}}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 md:col-6 lg:col-4">
                        <div class="grid">
                            <div class="col-12">
                                <p-card [style]="{'background':'#26a5c5', color: 'white','height':'10rem','border-radius':'10px'}">
                                    <div class="grid fontCard">
                                        <div class="col-4 md:col-7 lg:col-7" style="padding-bottom: 0px; padding-left: 22px; padding-right: 0px;">
                                            <h2 style="margin-bottom: 0px;font-family:Arial;font-size:2.5rem;font-weight:bold">$42,730k</h2>
                                            <p style="margin-bottom: 0px; font-size: 1rem; font-weight: 550;font-family:Arial;font-size:1.3rem ">Expense by Doctor</p>
                                            <p style="text-align:start; margin-bottom: 0px; margin-top: 5px;font-family:Arial;font-weight: bold;">High:  <span style="padding-left: 0.5rem;">$75k(Neurology)</span></p>
                                            <p style="text-align:start; margin-bottom: 0px; margin-top: 5px;font-family:Arial;font-weight: bold;">Low :  <span style="padding-left: 0.5rem;">$38k(Pediatrics)</span></p>
                                        </div>
                                        <div class="col-4 md:col-5 lg:col-5" style="margin: 0px;padding-left: 7rem; padding-top: 1rem; width: 1.6667%;">
                                            <i class="pi pi-arrow-down" style="font-size: 3.5em;color:#74f674; font-weight: bold;"></i>
                                            <span style="padding-left: 1rem;">2%</span>
                                        </div>
                                    </div>
                                </p-card>
                                <div class="col-12 revange-leakege-card" style="padding-top:1.5rem; margin-top: 1.3rem; border-radius: 10px;">
                                    <p style="font-size: 1.2rem;font-family:Arial;font-weight:bold" class="para">Overtime Costs</p>
                                    <p style="font-size: 2.2rem;font-weight: bold;color: rgb(62, 61, 61);font-family:Arial ">$1,230,349</p>
                                </div>
                            </div>
                            
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>

</div>