<!-- <p>time works!</p> -->
<div class="layout-footer p-2">
    <div class="grid">
        <div class="col-1">
            <a href="/" class="logo-container">
                <img src="assets/time/clock.png" width="32%" />
            </a>
        </div>
        <div class="col-7" style="margin-left:-4rem">
            <div class="sty" style="font-size:x-large"><b>Cayman Islands HSA</b></div>
            <div><b>Time Dashboard - September 2022</b></div>
        </div>
        <div class="col-4 footer-icons" style="margin-left:3rem">

            <img src="assets/time/hospital.png" alt="">
            &nbsp;&nbsp;

            <img src="assets/time/calendar.png" alt="">

        </div>
    </div>
</div>

<div style="background-color:rgb(155, 200, 219); border-top: 4px solid rgb(60, 141, 161);">
    <div class="card" style="background-color:rgb(217, 235, 243);">
        <div class="grid" style="padding-left: 2vh;padding-right: 2vh;margin-top:1vh">
            <div class="col-3">
                <div>
                    <p-card [style]="{'background-color':'rgb(79, 167, 189)','color':'white'}">
                        <div class="grid">
                            <div class="col-3" style="margin-top:-1rem;font-size:4rem;margin-left:1rem">
                                4.1
                            </div>&nbsp;
                            <div class="col-3" style="margin-left:-1rem;margin-top:2vh;font-size:3vh"> days</div>
                            <div class="col-3"><i class="pi pi-arrow-down"
                                    style="font-size: 3rem;color:rgb(233, 140, 140);font-weight:bolder;"></i></div>
                            <div class="col-3" style="margin-left:-1rem; margin-top:2vh; font-size:3vh">2.3%</div>
                        </div>
                        <div style="font-size:20px; margin-left:1rem">
                            average length of stay
                        </div>
                    </p-card>
                </div>
                <div>

                    <p-card [style]="{'background-color':'rgb(81, 139, 214)','color':'white'}">
                        <div class="grid">
                            <div class="col-3" style="margin-top:-1rem;font-size:4rem;margin-left:1rem">
                                37
                            </div>
                            <div class="col-3" style="margin-left:-1rem;margin-top:2vh;font-size:3vh">minutes</div>
                            <div class="col-3"><i class="pi pi-arrow-up"
                                    style="font-size: 3rem;color:rgb(208, 252, 15);font-weight:bolder;margin-left:0.5vh"></i>
                            </div>
                            <div class="col-3" style="margin-left:-1rem; margin-top:2vh; font-size:3vh">7.7%</div>
                        </div>


                        <div style="font-size:20px; margin-left:1rem">
                            average time to service
                        </div>


                    </p-card>
                </div>
                <div>
                    <p-card [style]="{'background-color':'rgb(137, 165, 190)','color':'white'}">
                        <div>
                            <div class="grid">
                                <div class="col-1"></div>
                                <div class="col-2" style="margin-top:2px">
                                    <img src="assets/time/doctor.png" alt="" width="35rem">
                                </div>
                                <div class="col-2" style="font-size:4vh; font-weight:bolder; margin-top:4px">1</div>
                                <div class="col-2"><i class="pi pi-arrow-right"
                                        style="font-size: 2rem;color:rgb(208, 252, 15);font-weight:bolder;margin-left:0.5vh;margin-top:1vh">
                                    </i></div>
                                <div class="col-2" style="font-size:4vh; font-weight:bolder; margin-top:4px">2.6</div>
                                <div class="col-2">
                                    <img src="assets/time/user.png" alt="" width="35rem">
                                </div>
                            </div>
                            <div style="text-align:center;font-size:2vh">Hospital</div>
                        </div>
                        <br>
                        <div>
                            <div class="grid">
                                <div class="col-1"></div>
                                <div class="col-2" style="margin-top:2px">
                                    <img src="assets/time/doctor.png" alt="" width="35rem">
                                </div>
                                <div class="col-2" style="font-size:4vh; font-weight:bolder; margin-top:4px">1</div>
                                <div class="col-2"><i class="pi pi-arrow-right"
                                        style="font-size: 2rem;color:rgb(208, 252, 15);font-weight:bolder;margin-left:0.5vh;margin-top:1vh">
                                    </i></div>
                                <div class="col-2" style="font-size:4vh; font-weight:bolder; margin-top:4px">0.9</div>
                                <div class="col-2">
                                    <img src="assets/time/user.png" alt="" width="35rem">
                                </div>
                            </div>
                            <div style="text-align:center;font-size:2vh">OR</div>
                        </div>
                        <br>
                        <div>
                            <div class="grid">
                                <div class="col-1"></div>
                                <div class="col-2" style="margin-top:2px">
                                    <img src="assets/time/doctor.png" alt="" width="35rem">
                                </div>
                                <div class="col-2" style="font-size:4vh; font-weight:bolder; margin-top:4px">1</div>
                                <div class="col-2"><i class="pi pi-arrow-right"
                                        style="font-size: 2rem;color:rgb(208, 252, 15);font-weight:bolder;margin-left:0.5vh;margin-top:1vh">
                                    </i></div>
                                <div class="col-2" style="font-size:4vh; font-weight:bolder; margin-top:4px">1.1</div>
                                <div class="col-2">
                                    <img src="assets/time/user.png" alt="" width="35rem">
                                </div>
                            </div>
                            <div style="text-align:center;font-size:2vh">Emergency</div>
                        </div>
                    </p-card>
                </div>
            </div>
            <div class="col-5">
                <p-card>

                </p-card>
            </div>
            <div class="col-4">
                <p-card>

                </p-card>
            </div>
        </div>
    </div>
</div>


<h1 style="background-color:rgb(137, 165, 190)">swdexwx</h1>


<!-- just check it now git to push code -->