<div class="layout-footer p-2">
    <div class="grid">
        <div class="col-1" style="width:6%;">
            <a href="/" class="logo-container">
                <img src="assets/compunder.png" width="55px" style="height:3rem;margin-left:1vh;" />
            </a>
        </div>
        <div class="col-7" style="padding-top: 0.8rem;">
            <div class="sty" style="font-size:x-large"><b>Cayman Islands HSA</b></div>
            <div class="sub-heading"><b>Traffic Dashboard - September 2022</b></div>
        </div>
        <div class="col-4 footer-icons" style="padding-top: 0.8rem;">

            <img src="assets/time/hospital.png" alt="" width="50px" style="height:3rem;margin-left:1vh;margin-top:5px">
            &nbsp;&nbsp;

            <img src="assets/time/calendar.png" alt="" width="50px" style="height:3rem;margin-left:1vh;margin-top:5px">

        </div>
    </div>
</div>

<div class="grid card-color" style="padding: 1rem;">
    <div class="col-12 md:col-12 lg:col-12">
        <div class="grid flex justify-content-between">
            <div class="col-12 md:col-6 lg:col-2">
                <div class=" traffic-dashboard-child-card-1 ">

                    <p class="child-par-fontSize-span">1278<span class="child-card-samll-para-heading">
                            Total Patients</span></p>
                </div>

            </div>
            <div class="col-12 md:col-6 lg:col-2">
                <div class=" traffic-dashboard-child-card-2 ">

                    <p class="child-par-fontSize-span">37% <br><span class="child-card-samll-para-heading">
                            Admissions Rate</span></p>
                </div>

            </div>
            <div class="col-12 md:col-6 lg:col-2">
                <div class=" traffic-dashboard-child-card-3 ">

                    <p class="child-par-fontSize-span">42 min <br><span class="child-card-samll-para-heading">
                            Waiting Time(min)</span></p>
                </div>
            </div>
            <div class="col-12 md:col-6 lg:col-2">
                <div class=" traffic-dashboard-child-card-4 ">

                    <p class="child-par-fontSize-span">1.2 Days <br><span class="child-card-samll-para-heading">
                            Average LOS</span></p>
                </div>
            </div>
            <div class="col-12 md:col-6 lg:col-2">
                <div class=" traffic-dashboard-child-card-5 ">

                    <p class="child-par-fontSize-span">$3.5 k <br><span class="child-card-samll-para-heading">
                            Average Treatment Cost</span></p>
                </div>
            </div>
        </div>
        <div class="grid">
            <div class="col-12 md:col-12 lg:col-8">
                <div class="grid">
                    <div class="col-12 md:col-12 lg:col-6">
                        <h1 class="traffic-card-heading-90days"> Patient VS Admissions
                        </h1>
                        <div class="card traffic-card-content-color-90days">

                            <p-chart type="bar" [data]="basicData.patient_vs_admisionsChart" [options]="basicOptions">
                            </p-chart>

                        </div>
                    </div>
                    <div class="col-12 md:col-12 lg:col-6">
                        <h1 class="traffic-card-heading-90days"> Daily Traffic Pattern
                        </h1>
                        <div class="card traffic-card-content-color-90days">

                            <p-chart type="bar" [data]="basicData.daillyTrfiicPattern" [options]="basicOptionsTrafiic">
                            </p-chart>
                        </div>
                    </div>
                </div>
                <div class="grid">
                    <div class="col-12 md:col-12 lg:col-5">
                        <h1 class="traffic-card-heading-90days"> Top Inbound Referrals
                        </h1>
                        <div class="card traffic-card-content-color-90days">
                            <div class="grid">
                                <div class="col-6"></div>
                                <div class="col-3 "><span><img src="assets/user.png"  style="width:2vw;height:27px;"/></span></div>
                                <div class="col-3"><span><img src="assets/dollar-symbol.png" style="width:2vw;height:27px;"/></span></div>
                            </div>
                            <div class="grid line-height">
                                <div class="col-6">St.Geroge Clinc</div>
                                <div class="col-3">270</div>
                                <div class="col-3">37.5k</div>
                            </div>
                            <div class="grid line-height">
                                <div class="col-6">Rapid Care</div>
                                <div class="col-3">217</div>
                                <div class="col-3">44.5k</div>
                            </div>
                            <div class="grid line-height">
                                <div class="col-6">Town Clinc</div>
                                <div class="col-3">146</div>
                                <div class="col-3">21k</div>
                            </div>
                            <div class="grid line-height">
                                <div class="col-6">Dr.Andrew Chin</div>
                                <div class="col-3">67</div>
                                <div class="col-3">12.5k</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 md:col-12 lg:col-7">
                        <h1 class="traffic-card-heading-90days"> Localization
                        </h1>
                        <div class="map-card">
                            <app-googlemaps></app-googlemaps>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-12 md:col-12 lg:col-4" style="padding-bottom:10rem; padding-top: 0px;" >

                <div class="col-12 md:col-12 lg:col-12">
                    <h1 class="traffic-card-heading-90days"> Divisions
                    </h1>
                    <div class="card traffic-card-content-color-90days ">

                        <div class="grid">
                            <div class="col-4 col-offset-3" style="padding-right: 3rem;"><span><img src="assets/user.png"  style="width:2vw;height:27px;"/></span></div>
                            <div class="col-4" style="padding-left: 5.6rem;"><i class="pi pi-clock"
                                    style="font-size: 2rem; color: rgb(12, 197, 197);"></i></div>
                        </div>
                        <div class="grid">
                            <div class="col-8">
                                <div class="grid margin-alignment">
                                    <div class="col-5 ">
                                        Cardiology
                                    </div>
                                    <div class="col-7 color-box box-1">
                                        52
                                    </div>
                                </div>
                                <div class="grid margin-alignment ">
                                    <div class="col-5 ">
                                        Orthopedics
                                    </div>
                                    <div class="col-7 color-box box-2">
                                        33
                                    </div>
                                </div>
                                <div class="grid margin-alignment">
                                    <div class="col-5 ">
                                        Gynecology
                                    </div>
                                    <div class="col-7 color-box box-3">
                                        14
                                    </div>
                                </div>
                                <div class="grid margin-alignment">
                                    <div class="col-5 ">
                                        Neurology
                                    </div>
                                    <div class="col-7 color-box box-4">
                                        49
                                    </div>
                                </div>

                                <div class="grid margin-alignment">
                                    <div class="col-5 ">
                                        Surgery
                                    </div>
                                    <div class="col-7 color-box box-5">
                                        29
                                    </div>
                                </div>

                                <div class="grid margin-alignment">
                                    <div class="col-5 ">
                                        Emergency
                                    </div>
                                    <div class="col-7 color-box box-6">
                                        21
                                    </div>
                                </div>

                                <div class="grid margin-alignment">
                                    <div class="col-5 ">
                                        Dermatology
                                    </div>
                                    <div class="col-7 color-box box-7">
                                        37
                                    </div>
                                </div>

                                <div class="grid margin-alignment">
                                    <div class="col-5 ">
                                        Ophtamology
                                    </div>
                                    <div class="col-7 color-box box-8">
                                        27
                                    </div>
                                </div>
                                <div class="grid margin-alignment">
                                    <div class="col-5 ">
                                        Pediatrics
                                    </div>
                                    <div class="col-7 color-box box-9">
                                        48
                                    </div>
                                </div>
                                <div class="grid margin-alignment">
                                    <div class="col-5 ">
                                        Hematology
                                    </div>
                                    <div class="col-7 color-box box-10">
                                        36
                                    </div>
                                </div>
                                <div class="grid margin-alignment">
                                    <div class="col-5 ">
                                        Urology
                                    </div>
                                    <div class="col-7 color-box box-11">
                                        41
                                    </div>
                                </div>


                            </div>

                            <div class="col-4">
                                <h5 class="time-alignment">21</h5>
                                <h5 class="time-alignment">67</h5>
                                <h5 class="time-alignment">44</h5>
                                <h5 class="time-alignment">49</h5>
                                <h5 class="time-alignment">23</h5>
                                <h5 class="time-alignment">88</h5>
                                <h5 class="time-alignment">34</h5>
                                <h5 class="time-alignment">45</h5>
                                <h5 class="time-alignment">55</h5>
                                <h5 class="time-alignment">25</h5>
                                <h5 class="time-alignment">63</h5>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>

    </div>

</div>