.traffic-dashboard-child-card-1 {
    background-color: #318fb1;
    border-radius: 5px;
    padding-top: 1rem;
    padding-right: 3rem;
    padding-bottom: 1rem;
    padding-left: 3rem;
    color: #eaf2f4;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: row;
    font-family: Arial;
    font-weight: 550;
     justify-content:center ;
    
}

.traffic-dashboard-child-card-2 {
    background-color: #9da5f6;
    border-radius: 5px;
    padding-top: 1rem;
    padding-right: 2rem;
    padding-bottom: 1rem;
    padding-left: 4rem;
    color: #eaf2f4;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: row;
    font-family: Arial;
    font-weight: 550;
    // justify-content:flex-start;
}

.traffic-dashboard-child-card-3 {
    background-color: #f78489;
    border-radius: 5px;
    padding-top: 1rem;
    padding-right: 2rem;
    padding-bottom: 1rem;
    padding-left: 3.5rem;
    color: #eaf2f4;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: row;
    font-family: Arial;
    font-weight: 550;
    justify-content:flex-start ;
}

.traffic-dashboard-child-card-4 {
    background-color: #f2b565;
    border-radius: 5px;
    padding-top: 1rem;
    padding-right: 2rem;
    padding-bottom: 1rem;
    padding-left: 3.5rem;
    color: #eaf2f4;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: row;
    font-family: Arial;
    font-weight: 550;
    justify-content:flex-start ;
}
.traffic-dashboard-child-card-5 {
    background-color: #7fb361;
    border-radius: 5px;
   padding-top: 1rem;
   padding-bottom: 1rem;
    color: #eaf2f4;
    margin-bottom: 1rem;
    font-weight: 550;
    font-family: Arial;
    // justify-content:flex-start ;
}

@media screen and (min-width:992px) and (max-width:1560px) {
   .traffic-dashboard-child-card-1 {
    max-width: 199.65px;
    max-height: 100px;
  
   } 
   .traffic-dashboard-child-card-2 {
    max-width: 199.65px;
    max-height: 100px;
  
   }
   .traffic-dashboard-child-card-3 {
    max-width: 199.65px;
    max-height: 100px;
  
   }
   .traffic-dashboard-child-card-4 {
    max-width: 199.65px;
    max-height: 100px;
  
   }
   .traffic-dashboard-child-card-5 {
    max-width: 199.65px;
    max-height: 108px;
  
   }
}


.child-par-fontSize {
    font-size: 1.5rem;
    justify-content:flex-start ;
    font-family: Arial;
}

.child-par-fontSize-span {
    font-size: 2rem;
    justify-content:center ;
    text-align: center;
    font-family: Arial;
}

.child-card-samll-para-heading {
    font-size: 1rem;
    display: flex;
    flex-direction: row;
    justify-content:center ;
    font-family: Arial;
}

.traffic-card-heading-90days {
    color: #e5f4f8;
    background-color: #5ebcd6;
    margin: 0px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    font-size: 1.1rem;
    border: none;
    font-weight: bold;
    text-align: center;
    padding: 10px;
    font-family: Arial;
    // color: #f2a082;
}

.traffic-card-content-color-90days {
    background-color: rgb(255, 255, 255);
    color: #474747;
    font-weight:bold;
    font-size: 1rem;
    border: none;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding-bottom: 1rem;
    font-family: Arial;
}

.line-height {
    line-height: 1.5;
}

.color-box {
    background-color: #318fb1;
    color: #ffffff;
    border: none;
    // padding: 5px;
    height: 2rem;
    font-family: Arial;
}

.box-1 {
width: 52%;
}
.box-2 {
width: 33%;
}
.box-3 {
width: 14%;
}

.box-4 {
    width: 49%;
}

.box-5 {
        width: 29%;
}

.box-6 {
    width: 21%;
}

.box-7 {
    width: 37%;
}

.box-8 {
    width: 27%;
}


.box-9 {
    width: 48%;
}


.box-10 {
    width: 36%;
}

.box-11 {
    width: 41%;
}



.margin-alignment {
    margin-top: 5px;
    margin-bottom: 5px;
}

.time-alignment {
    font-size: 1.0rem;
    text-align: center;
    font-weight:bold
}


.map-card {
    border-radius: 3px;
   
    padding: 0px;
    // padding-top: 10px;
    // padding-bottom: 5px;
    // padding-left: 16px;
    // padding-right: 16px;
    margin-bottom: 0px;
    // border: 1px solid #EEEEEE;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}


.line-height{
    margin-top:3px;
}

.arrange{
    text-align: center;
}

@media screen and (min-width:1440px) and (max-width:2560px) {
    .clock-icon {
        padding-left: 12.8rem;
    }
    
}