<div class="layout-footer p-2">
    <div class="grid">
        <div class="col-1 md:col-1 lg:col-1">
            <a href="/" class="logo-container">
                <img src="assets/doctor.png" width="80%"  />
            </a>
        </div>
        <div class="col-7 md:col-7 lg:col-7">
            <div class="sty" style="font-size:x-large"><b>Cayman Islands HSA</b></div>
            <div><b>Physician Card-September 2022</b></div>
        </div>
        <div class="col-4 md:col-4 lg:col-4 footer-icons">

            <img src="assets/time/hospital.png" alt="">
            &nbsp;&nbsp;

            <img src="assets/time/calendar.png" alt="">

        </div>
    </div>
</div>

<div class="grid card-color">
    <div  class="col-12 md:col-12  lg:col-4 body">
        <div class="grid">
        <div class="col-12"> 
        <img class="image "
            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ4hhchozR9QbvQFVMfBR9r1haJXsO54SKvyw&usqp=CAU"
            alt="imag" />
        </div>
            <div class="grid"> 
            <div class="col-12"> 
            <h1 class="doctor-image-heading ">Dr.Barbar Corgan</h1>
            <p class="doctor-image-sub-heading">Family Practice</p>
            <p class="doctor-image-sub-heading">West Bay Health Center</p>
            <p class="doctor-image-sub-heading-1">Joined: 2019</p>
            <span class="p-input-icon-left ">
                <i class="pi pi-search"></i>
                <input type="text" pInputText placeholder="Find a Physician or Department" [(ngModel)]="value3"
                class="input-tag" />
            </span>
        </div>
        </div>
        </div>
    </div>

    <div class="grid col-12 md:col-12 lg:col-8" style="padding: 2rem;">
        <div class="col-12 md:col-4  lg:col-4 ">
            <h1 class="heading"><i class="pi pi-users icon" style="font-size: 1.5rem"></i>
                <span>Traffic</span>
            </h1>
            <div class="card card-content-color ">
                <div class="grid">
                    <div class="col-9 md:col-9  lg:col-9 ">Total Patients</div>
                    <div class="col-3 md:col-3  lg:col-3 ">123</div>
                </div>
                <div class="grid">
                    <div class="col-9 md:col-9  lg:col-9 ">Door To Doctor</div>
                    <div  class="col-3 md:col-3  lg:col-3 ">23 min</div>
                </div>
                <div class="grid">
                    <div class="col-9 md:col-9  lg:col-9 ">Patients Admitted</div>
                    <div  class="col-3 md:col-3  lg:col-3 ">14(11%)</div>
                </div>
                <div class="grid">
                    <div class="col-9 md:col-9  lg:col-9 ">LOS (Patients Admitted)</div>
                    <div  class="col-3 md:col-3  lg:col-3 ">123</div>
                </div>
                <div class="grid">
                    <div class="col-9 md:col-9  lg:col-9 ">Average Treatment Cost</div>
                    <div  class="col-3 md:col-3  lg:col-3 ">$3.5 k</div>
                </div>
            </div>
        </div>
        <div class="col-12 md:col-4  lg:col-4 ">
            <h1 class="heading"><i class="pi pi-clock icon" style="font-size: 1.5rem"></i> <span>Time</span>
            </h1>
            <div class="card card-content-color">
                <div class="grid">
                    <div class="col-8">Time to Service</div>
                    <div class="col-4">6 min</div>
                </div>
                <div class="grid">
                    <div class="col-8">Door To Doctor</div>
                    <div class="col-4">23 min</div>
                </div>
                <div class="grid">
                    <div class="col-8">OR Blocks</div>
                    <div class="col-4">99.8%</div>
                </div>
                <div class="grid">
                    <div class="col-8">Time with Patient</div>
                    <div class="col-4">17 min</div>
                </div>
                <div class="grid">
                    <div class="col-8">Turnover</div>
                    <div class="col-4">12 min</div>
                </div>

            </div>
        </div>
        <div class="col-12 md:col-4  lg:col-4">
            <h1 class="heading"><i class="pi pi-star-fill icon" style="font-size: 1.5rem"></i>
                <span>Quality</span>
            </h1>
            <div class="card flex-column card-content-color">
                <div class="grid">
                    <div class="col-8">Overall Staisfaction</div>
                    <div class="col-4">96%</div>
                </div>
                <div class="grid">
                    <div class="col-8">Treatment Agreement</div>
                    <div class="col-4">91%</div>
                </div>
                <div class="grid">
                    <div class="col-8">Readmission Rate</div>
                    <div class="col-4">3.3%</div>
                </div>
                <div class="grid">
                    <div class="col-8">Expected Follow-Upr</div>
                    <div class="col-4">78%</div>
                </div>
                <div class="grid">
                    <div class="col-8">Incidents</div>
                    <div class="col-4">N/A</div>
                </div>

            </div>
        </div>
        <div class="col-12 md:col-4  lg:col-4">
            <h1 class="heading"><i class="pi pi-compass icon" style="font-size: 1.5rem"></i>
                <span>Utilization</span>
            </h1>
            <div class="card flex-column card-content-color">

                <div class="grid">
                    <div class="col-8">Overall Schedule</div>
                    <div class="col-4">93%</div>
                </div>
                <div class="grid">
                    <div class="col-8">Bumps</div>
                    <div class="col-4">8</div>
                </div>
                <div class="grid">
                    <div class="col-8">No Showa </div>
                    <div class="col-4">21</div>
                </div>
                <div class="grid">
                    <div class="col-8">Canceliations</div>
                    <div class="col-4">33</div>
                </div>
                <div class="grid">
                    <div class="col-8">Time with Patient</div>
                    <div class="col-4">17 min</div>
                </div>

            </div>
        </div>
        <div class="col-12 md:col-4 lg:col-4">
            <h1 class="heading"><i class="pi pi-sitemap icon" style="font-size: 1.5rem"></i>
                <span>Financial</span>
            </h1>
            <div class="card flex-column card-content-color">
                <div class="grid">
                    <div class="col-8">Total Revenue</div>
                    <div class="col-4">$470k</div>
                </div>
                <div class="grid">
                    <div class="col-8">Revenue Leakage</div>
                    <div class="col-4">$25</div>
                </div>
                <div class="grid">
                    <div class="col-8">Total Expeneses </div>
                    <div class="col-4">$236</div>
                </div>
                <div class="grid">
                    <div class="col-8">Profit Margin</div>
                    <div class="col-4">24%</div>
                </div>
                <div class="grid">
                    <div class="col-8">Net Cash Flow</div>
                    <div class="col-4">$136 k</div>
                </div>



            </div>
        </div>




    </div>

</div>