


.heading {
    color: #feffff;
    background-color:#072645;
    margin: 0px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    font-size: 1.4rem;
    border: none;
    font-weight: 540;
    font-family: Arial;
    padding-right: 1rem;
}

.card-content-color {
    background-color: #0b3a66;
    color: #ecf2f4;
    border: none;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding-bottom: 1rem;
    padding-right: 1px;
    padding-left: 5px;
    font-family: Arial;
    font-weight: 510;
    font-size: 1.2rem;
}






 .icon{
    padding: 1rem;
    color: rgb(4, 78, 124);
 }

// .image-card {
//     width: 20vh;
//     // height: 15vh;
//     box-shadow: 5px 5px 5px 5px #e5e2e2;
// }



.image {
    border-radius: 20rem;
    width: 20rem;
    height: 20rem;
    // padding: 5px;
}

.input-tag {
    width: 130%;
    border: 1px solid;
    border-radius: 20px;
    padding-top: 10px;
    font-family: Arial;
    font-style: italic;
     font-weight: 500;
     font-size: 1.1rem;
   
}

.doctor-image-heading {
  font-family: Arial;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    color:#343434;
    margin: 0px;
    padding-left: 25px;
}

.doctor-image-sub-heading {
  font-family: Arial;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    color:#343434;
    margin: 0px;
    padding-left: 25px;
}

.doctor-image-sub-heading-1{
  font-family: Arial;
    font-size: 20px;
    font-weight: bold;
    color:#343434;
    text-align: center;
    margin-left: 0px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 10px;
    padding-left: 25px;
}




// css Meadia quires 
.body {
    padding-top: 2rem;
    padding-left: 1.5rem;
    padding-bottom: 3.5rem;
}

@media screen and (max-width: 992px) {
    .body {
      padding-left: 17rem ;
      padding-right: 3rem;
    }
  }

  @media screen and (max-width: 768px) {
    .body {
      padding-left: 5rem !important;
      padding-right: 0rem !important;
    }
  }
  
  // @media screen and (min-width:425px) {
  //   .body {
  //       padding-left: 2.5rem ;
       
  //     }
  // }


  .doctor-image {
    width: 5vh;
  }

//   @media screen and (min-width:768px) {
//   .newCard {
//     min-width: 18.3rem;
//     min-height: 11rem;
//     padding: 1rem;
//     background-color: rgb(2, 42, 102);
//     color: #ffffff;
//     border: none;
//     border-bottom-left-radius: 5px;
//     border-bottom-right-radius: 5px;
//   }

//   .newHeading {
//     color: #ffffff;
//     background-color: rgb(12, 72, 169);
//     margin: 0px;
//     border-top-left-radius: 5px;
//     border-top-right-radius: 5px;
//     font-size: 1.5rem;
//     border: none;
//     min-width: 18.3rem;
// }
//   }


//icon card css 

.icon-cards {
  width: 3vw;
  height:37px;
  padding-bottom: 0.2rem;
  padding-top: 0.3rem;
  padding-left: 0.7rem;
  padding-right: 0.5rem;
}


::ng-deep .pi-search:before {
  content: "\e908";
  font-weight: 800;
  color: black;
}

