


.heading {
    color: #ffffff;
    background-color: rgb(12, 72, 169);
    margin: 0px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    font-size: 1.5rem;
    border: none;
}

.card-content-color {
    background-color: rgb(2, 42, 102);
    color: #ffffff;
    border: none;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding-bottom: 1rem;
}


 .icon{
    padding: 1rem;
 }

// .image-card {
//     width: 20vh;
//     // height: 15vh;
//     box-shadow: 5px 5px 5px 5px #e5e2e2;
// }



.image {
    border-radius: 18rem;
    width: 20rem;
    height: 20rem;
}

.input-tag {
    width: 130%;
    border: none;
    border-radius: 10px;
}





