<div class="layout-footer p-1" style="background-color:rgb(31, 144, 172)">
    <div class="grid">
        <div class="col-8" style="font-family:'Times New Roman', Times, serif;color:white">
            <div class="header-part-heading"><span><img src="assets/plus-symbol-button.png" class="plus-icon"/></span>CAYMAN</div>
            <div class="sub-heading">We care for you</div>
        </div>
        <div class="col-4 footer-icons">
            <a>
                <img src="assets/time/user.time.png" class="header-user-icon"/>
                <!-- <i class="pi pi-user" style="font-size: 1em;color:white"></i> -->
            </a>
            <a>
                <i class="pi pi-cog" style="font-size: 1em;color:white"></i>
            </a>
        </div>
    </div>
</div>

<div class="card" style="background-image: linear-gradient(rgb(230, 245, 248), rgb(109, 213, 238))">
    <div class="grid">
        <div class="col-1"></div>
        <div class="col-10" style="padding:5rem">
            <!-- <div class="layout-footer p-1" style="background-color:rgb(92, 192, 206);border-radius: 0.5em;">
                <div class="grid">
                    <div class="col-10">
                        <h4 style="color:white;margin-left: 1rem;">Business Intelligence App Store</h4>
                    </div>
                    <div class="col-2 footer-icons">
                         <img src="assets/home1/img.jpg" alt="" width="20%"> 
                    </div>
                </div>
            </div> -->
            <div class="hos">
                <p-panel [style]="{'max-width':'100rem','margin-top':'0%','background-color':'rgb(236, 244, 252)'}"
                    styleClass="shadow-2" class="panel1" header="Business Intelligence App Store">
                    <br>
                    <p-dropdown placeholder=" Category:  Hospitals" optionLabel="name"></p-dropdown>
                    <!-- [style]="{'width':'220px'}"    -->
                    <br>

                    <div style="display:flex ;flex-wrap: wrap;margin-left:-2vh">
                        <!-- <div class="col-12 lg:col-1"></div> -->

                        <div class="col-5  md:col-5 lg:col-2" style="margin-left:4vh;margin-top:3vh">
                            <p-card [style]="{'display':'flex','max-width':'14rem'}">
                                <!-- <br> -->
                                <div class="p-grid  p-fluid">
                                    <div style="background-color:rgb(151, 237, 252)">
                                        <br>
                                        <img src="assets/home2/aid-kit.png" alt="" width="75%"
                                            style="margin-left:2.5vh">

                                    </div>
                                    <div class="card-icon-heading">Traffic Dashboard <br><br>
                                        <p-rating [ngModel]="val3" readonly="true" stars="5" [cancel]="false">
                                        </p-rating>
                                    </div>
                                    <br>
                                </div>

                            </p-card>
                        </div>

                        <div class="col-5  md:col-5 lg:col-2" style="margin-left:4vh;margin-top:3vh;">
                            <p-card [style]="{'display':'flex','max-width':'14rem'}">

                                <div class="p-grid  p-fluid">
                                    <div style="background-color:rgb(231, 201, 248)">
                                        <br>
                                        <img src="assets/home2/cardiology.png" alt="" width="75%"
                                            style="margin-left:2.5vh">
                                    </div>
                                    <div class="card-icon-heading">Cardiology Traffic <br><br>
                                        <p-rating [ngModel]="val3" readonly="true" stars="5" [cancel]="false">
                                        </p-rating>
                                    </div>
                                    <br>
                                </div>

                            </p-card>
                        </div>

                        <div class="col-5  md:col-5 lg:col-2" style="margin-left:4vh;margin-top:3vh;">
                            <p-card [style]="{'display':'flex','max-width':'14rem'}">

                                <div class="p-grid  p-fluid">
                                    <div style="background-color:rgb(194, 238, 144)">
                                        <br>
                                        <img src="assets/home2/clock.png" alt="" width="75%" style="margin-left:2.5vh">
                                    </div>
                                    <div class="card-icon-heading">Time Dashboard <br><br>
                                        <p-rating [ngModel]="val3" readonly="true" stars="5" [cancel]="false">
                                        </p-rating>
                                    </div>
                                    <br>
                                </div>

                            </p-card>
                        </div>

                        <div class="col-5  md:col-5 lg:col-2" style="margin-left:4vh;margin-top:3vh;">
                            <p-card [style]="{'display':'flex','max-width':'14rem'}">
                                <div class="p-grid  p-fluid">
                                    <div style="background-color:rgb(133, 192, 247)">
                                        <br>
                                        <img src="assets/home2/prescription.png" alt="" width="75%"
                                            style="margin-left:2.5vh">
                                    </div>
                                    <div class="card-icon-heading">OR Times <br><br>
                                        <p-rating [ngModel]="val3" readonly="true" stars="5" [cancel]="false">
                                        </p-rating>
                                    </div>
                                    <br>
                                </div>

                            </p-card>
                        </div>


                        <div class="col-5  md:col-5 lg:col-2" style="margin-left:4vh;margin-top:3vh;">
                            <p-card [style]="{'display':'flex','max-width':'14rem'}">
                                <div class="p-grid  p-fluid">
                                    <div style="background-color:rgb(196, 221, 253)">
                                        <br>
                                        <img src="assets/home2/medal.png" alt="" width="75%" style="margin-left:2.5vh">
                                    </div>
                                    <div class="card-icon-heading">Quality Dashboard <br><br>
                                        <p-rating [ngModel]="val3" readonly="true" stars="5" [cancel]="false">
                                        </p-rating>
                                    </div>
                                    <br>
                                </div>

                            </p-card>
                        </div>

                        <!-- <div class="col-12 lg:col-2"></div> -->

                    </div>



                    <div style="display:flex ;flex-wrap: wrap;  margin-left: -2vh">
                        <!-- <div class="col-12 lg:col-1"></div> -->

                        <div class="col-5  md:col-5 lg:col-2" style="margin-left:4vh;margin-top:3vh;">
                            <p-card [style]="{'display':'flex','max-width':'14rem'}">
                                <div class="p-grid  p-fluid">
                                    <div style="background-color:rgb(159, 197, 219)">
                                        <br>
                                        <img src="assets/home2/assurance.png" alt="" width="75%"
                                            style="margin-left:2.5vh">
                                    </div>
                                    <div class="card-icon-heading">Physician Assesment <br><br>
                                        <p-rating [ngModel]="val3" readonly="true" stars="5" [cancel]="false">
                                        </p-rating>
                                    </div>
                                    <br>
                                </div>

                            </p-card>
                        </div>

                        <div class="col-5  md:col-5 lg:col-2" style="margin-left:4vh;margin-top:3vh;">
                            <p-card [style]="{'display':'flex','max-width':'14rem'}">

                                <div class="p-grid  p-fluid">
                                    <div style="background-color:rgb(160, 155, 209)">
                                        <br>
                                        <img src="assets/home2/trophy.png" alt="" width="75%" style="margin-left:2.5vh">
                                    </div>
                                    <div class="card-icon-heading">Patient Satisfaction <br><br>
                                        <p-rating [ngModel]="val3" readonly="true" stars="5" [cancel]="false">
                                        </p-rating>
                                    </div>
                                    <br>
                                </div>

                            </p-card>

                        </div>


                        <div class="col-5  md:col-5 lg:col-2" style="margin-left:4vh;margin-top:3vh;">
                            <p-card [style]="{'display':'flex','max-width':'14rem'}">

                                <div class="p-grid  p-fluid">
                                    <div style="background-color:rgb(252, 180, 210)">
                                        <br>
                                        <img src="assets/home2/first-aid-box.png" alt="" width="75%"
                                            style="margin-left:2.5vh">
                                    </div>
                                    <div class="card-icon-heading">Utilization Dashboard <br><br>
                                        <p-rating [ngModel]="val3" readonly="true" stars="5" [cancel]="false">
                                        </p-rating>
                                    </div>
                                    <br>
                                </div>

                            </p-card>
                        </div>

                        <div class="col-5  md:col-5 lg:col-2" style="margin-left:4vh;margin-top:3vh;">
                            <p-card [style]="{'display':'flex','max-width':'14rem'}">

                                <div class="p-grid  p-fluid">
                                    <div style="background-color:rgb(184, 240, 101)">
                                        <br>
                                        <img src="assets/home2/wallet.png" alt="" width="75%" style="margin-left:2.5vh">
                                    </div>
                                    <div class="card-icon-heading">Financial Dashboard <br><br>
                                        <p-rating [ngModel]="val3" readonly="true" stars="5" [cancel]="false">
                                        </p-rating>
                                    </div>
                                    <br>
                                </div>

                            </p-card>
                        </div>

                        <div class="col-5  md:col-5 lg:col-2" style="margin-left:4vh;margin-top:3vh;">

                            <p-card [style]="{'display':'flex','max-width':'14rem'}">

                                <div class="p-grid  p-fluid">
                                    <div style="background-color:rgb(49, 65, 38)">
                                        <br>
                                        <img src="assets/home2/money.png" alt="" width="75%" style="margin-left:2.5vh">
                                    </div>
                                    <div class="card-icon-heading">Cost manager <br><br>
                                        <p-rating [ngModel]="val3" readonly="true" stars="5" [cancel]="false">
                                        </p-rating>
                                    </div>
                                    <br>
                                </div>

                            </p-card>
                        </div>
                        <!-- <div class="col-12 lg:col-2"></div> -->

                    </div>
                </p-panel>
            </div>
        </div>
    </div>

</div>