<div class="layout-footer p-2">
    <div class="grid">
        <div class="col-1" style="width:6%;">
            <a href="/" class="logo-container">
                <img src="assets/compunder.png" width="55px" style="height:3rem;margin-left:1vh;" />
            </a>
        </div>
        <div class="col-7" style="padding-top: 0.8rem;">
            <div class="sty" style="font-size:x-large"><b>Cayman Islands HSA</b></div>
            <div style="font-family:Arial"><b>Quailty Dashboard - September 2022</b></div>
        </div>
        <div class="col-4 footer-icons"  style="padding-top: 0.8rem;">

            <img src="assets/time/hospital.png" alt="" width="50px" style="height:3rem;margin-left:1vh;margin-top:5px">
            &nbsp;&nbsp;

            <img src="assets/time/calendar.png" alt="" width="50px" style="height:3rem;margin-left:1vh;margin-top:5px">

        </div>
    </div>
</div>


<div class="grid card-color" style="padding: 1rem;">
    <div class="col-12 md:col-12  lg:col-8">
        <div class="grid">
            <div class="col-4">
                <div class=" quality-dashboard-child-card-1 ">
                    <p class="child-par-fontSize-span">18.7% <br><span class="child-card-samll-para-heading">
                            Readmission Rate</span></p>
                </div>
            </div>
            <div class="col-4">
                <div class=" quality-dashboard-child-card-2">
                    <p class="child-par-fontSize-span">24.33 <br><span class="child-card-samll-para-heading">
                            HAI per 1K</span></p>
                </div>
            </div>
            <div class="col-4">
                <div class=" quality-dashboard-child-card-3">
                    <p class="child-par-fontSize-span">42 min
                        <br>
                        <span class="child-card-samll-para-heading">
                            Waiting Time</span>
                    </p>
                </div>

            </div>
            <h3 class="col-12 main-card-heading"> 90-Day Trends</h3>
            <div class="col-12 md:col-12  lg:col-6">
                <h1 class="quailty-card-heading-90days"> Overall Satisfaction
                </h1>
                <div class="card quailty-card-content-color-90days">

                    <p-chart type="line" [data]="basicData.lineChartDataForOverAllStaticfaction"
                        [options]="basicOptions"></p-chart>
                </div>
            </div>
            <div class="col-12 md:col-12  lg:col-6">
                <h1 class="quailty-card-heading-90days"> Re-Admission Rates
                </h1>
                <div class="card quailty-card-content-color-90days">

                    <p-chart type="line" [data]="basicData.ReadmissionRatesLineChart" [options]="basicOptions">
                    </p-chart>
                </div>
            </div>
            <div class="col-12 md:col-12  lg:col-6">
                <h1 class="quailty-card-heading-90days"> Timeliness
                </h1>
                <div class="card quailty-card-content-color-90days">

                    <p-chart type="line" [data]="basicData.TimeLinesLineChart" [options]="basicOptions">
                    </p-chart>
                </div>
            </div>
            <div class="col-12 md:col-12  lg:col-6">
                <h1 class="quailty-card-heading-90days"> Incidents
                </h1>
                <div class="card quailty-card-content-color-90days">

                    <p-chart type="line" [data]="basicData.IncidentsLineChart" [options]="basicOptions">
                    </p-chart>
                </div>
            </div>
            <div class="col-12 md:col-12  lg:col-5">
                <h1 class="quailty-card-heading-90days"> Incidents
                </h1>
                <div class="card quailty-card-content-color-90days">

                    <p-chart type="bar" [data]="basicData.incidentsBarChart" [options]="incidentsOptions"></p-chart>
                </div>
            </div>
            <div class="col-12 md:col-12  lg:col-7">
                <h1 class="quality-card-heading"> Re-Admission Rates By Diagnosis
                </h1>
                <div class="card quality-card-content-color">
                    <div class="grid">
                        <div class="col-5">Preumonia</div>
                        <div class="col-2">15.7</div>
                        <div class="col-4">COP</div>
                        <div class="col-1">20.9</div>
                    </div>
                    <div class="grid">
                        <div class="col-5">Mood Disorders</div>
                        <div class="col-2">14.8</div>
                        <div class="col-4">Chest Pain</div>
                        <div class="col-1">10.2</div>
                    </div>
                    <div class="grid">
                        <div class="col-5">Congestive Heart Failure</div>
                        <div class="col-2">24.7</div>
                        <div class="col-4">Skin Infection</div>
                        <div class="col-1">11.2</div>
                    </div>
                    <div class="grid">
                        <div class="col-5">Cardiac Dysrthymia</div>
                        <div class="col-2">14.8</div>
                        <div class="col-4">Previous C-Section</div>
                        <div class="col-1">10.5</div>
                    </div>
                    <div class="grid">
                        <div class="col-5">Septicema</div>
                        <div class="col-2">21.0</div>
                        <div class="col-4">Asthma</div>
                        <div class="col-1">11.9</div>
                    </div>
                    <div class="grid">
                        <div class="col-5">Coronary Artherosclerosis</div>
                        <div class="col-2">13.5</div>
                        <div class="col-4">Urinary Tract Infection</div>
                        <div class="col-1">16.2</div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="col-12 md:col-12  lg:col-4" style="padding-top: 0px">
        <div class="col-12">
            <h1 class="quailty-card-heading-90days"> Overall Patient Satisfaction
            </h1>
            <div class=" quailty-card-content-color-90days">

                <p-chart type="doughnut" [data]="basicData.overAllPatientStasifaction" [options]="chartOptions"
                    width="170" height="260" style="padding:10px ;"></p-chart>
            </div>
        </div>
        <div class="col-12">
            <h1 class="quailty-card-heading-90days">Physician Patient Satisfaction
            </h1>

            <div class="card quailty-card-content-color-90days">
                <p-chart type="doughnut" [data]="basicData.physicianPatientStasifaction" [options]="chartOptions"
                    width="170" height="260"></p-chart>
            </div>
        </div>
        <div class="col-12">
            <h1 class="quailty-card-heading-90days"> Top 3 Factors
            </h1>
            <div class="card quailty-card-content-color-90days">

                <h5 class="row-2 fontSize">81% <span class="row-10  fontSize-1" style="padding-left: 1rem;">Doctor and Patient agree on treatment</span>
                </h5>
                <h5 class="row-2 fontSize">71% <span class="row-10 fontSize-1" style="padding-left: 1rem;">Treatment was well explained</span></h5>
                <h5 class="row-2 fontSize">73% <span class="row-10 fontSize-1" style="padding-left: 1rem;">Staff was generally available</span></h5>
            </div>
        </div>
        <div class="col-12">
            <h1 class="quailty-card-heading-90days"> Bottom 3 Factors
            </h1>
            <div class="card quailty-card-content-color-90days">

                <h5 class="row-4 fontSize">69% <span class="row-8 col-offset-1 fontSize-1">Timeliness of visits and treatment</span></h5>
                <h5 class="row-4 fontSize">78% <span class="row-8 col-offset-1 fontSize-1">Received  expected followup</span></h5>
                <h5 class="row-4 fontSize">44% <span class="row-8 col-offset-1 fontSize-1">Take-home instructions were effective</span></h5>
            </div>
        </div>


    </div>

</div>