<div class="layout-footer p-2">
    <div class="grid">
        <div class="col-1">
            <a href="/" class="logo-container">
                <img src="assets/doctor.png" width="80%" />
            </a>
        </div>
        <div class="col-7" >
            <div class="sty" style="font-size:x-large"><b>Cayman Islands HSA</b></div>
            <div><b>AR Dashboard-September 2022</b></div>
        </div>
        <div class="col-4 footer-icons">

            <img src="assets/time/hospital.png" alt="">
            &nbsp;&nbsp;

            <img src="assets/time/calendar.png" alt="">

        </div>
    </div>
</div>

<div class="grid card-color">
    <div style="padding: 1rem;" class="col-12 md:col-6 lg:col-4">
        <div>
            <h1 class="ar-card-heading"> AR Aging (Millions)
            </h1>
            <div class="card ar-card-content-color">

                <h5>Vertical</h5>
                <p-chart type="bar" [data]="products.barChartVertical" [options]="basicOptions"></p-chart>
            </div>
        </div>
        <div class="row-12 md:row-6  lg:row-4 net-collection-rate-card">
            <h5 class="net-collection-card-heading">Net Collection Rate</h5>
            <p class="net-collection-card-inner"></p>
        </div>
        <div>
            <h1 class="ar-card-heading"> Billed vs Collected (Millions)
            </h1>
            <div class="card ar-card-content-color">

                <h5>Horizontal</h5>
                <p-chart type="bar" [data]="products.barChatDataHorizental" [options]="horizontalOptions"></p-chart>

            </div>
        </div>
    </div>

    <div class="col-12 md:col-6  lg:col-4 " style="padding: 1rem;">
        <div class="ar-dashboard-child-card-1">
            <div class="grid">
                <div class="col-4">
                    <div class="grid">
                        <div class="col-12">
                            <img src="assets/time/calendar.png" alt="" width="40%"> <br>
                        </div>
                        <div class="col-12 net-collection-card-heading">
                            Days
                        </div>
                    </div>
                </div>
                <div class="col-4 ">
                    <div class="grid">
                        <div class="col-12 child-par-fontSize">
                            In AR
                        </div>
                        <div class="col-12 child-par-fontSize-span">
                            68
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="grid">
                        <div class="col-12 child-par-fontSize">
                            To Bill
                        </div>
                        <div class="col-12 child-par-fontSize-span">
                            14
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="row-4 ar-dashboard-child-card-2">
            <div class="grid">
                <div class="col-4">
                    <div class="grid">
                        <div class="col-12">
                            <img src="assets/time/gear.png" alt="" width="50%"> <br>
                        </div>
                        <div class="col-12 net-collection-card-heading">
                            Leading
                        </div>
                    </div>
                </div>
                <div class="col-4 ">
                    <div class="grid">
                        <div class="col-12 child-par-fontSize-span">
                            5%
                        </div>
                        <div class="col-12 ">
                            <p> Point of service
                                collections </p>
                        </div>
                    </div>
                </div>
                <div class=" col-4">
                    <div class="grid">
                        <div class="col-12 child-par-fontSize-span">
                            36%
                        </div>
                        <div class="col-12 ">
                            <p> Pre Registration
                                Rates </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row-4 ar-dashboard-child-card-1">
            <div class="grid">
                <div class="col-4">
                    <div class="grid">
                        <div class="col-12">
                            <img src="assets/time/gear.png" alt="" width="50%"> <br>
                        </div>
                        <div class="col-12 net-collection-card-heading">
                            Lagging
                        </div>
                    </div>
                </div>
                <div class="col-4 ">
                    <div class="grid">
                        <div class="col-12 child-par-fontSize-span">
                            8%
                        </div>
                        <div class="col-12 ">
                            <p> HIM
                                Charts Deliquency Rate</p>
                        </div>
                    </div>
                </div>
                <div class=" col-4">
                    <div class="grid">
                        <div class="col-12 child-par-fontSize-span">
                            354
                        </div>
                        <div class="col-12 ">
                            <p> Coding Backlogs
                                <span style="color: red;"> (+12%) </span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row-4 ar-dashboard-child-card-currency">
            <div class="grid">
                <div class="col-4 ">
                    <div class="grid ">
                        <div class="col-12">
                            <img src="assets/time/targetgreenback.jpg" alt="" width="40%"> <br>
                        </div>
                        <div class="col-12 net-collection-card-heading">
                            Tragets
                        </div>
                    </div>
                </div>
                <div class="col-4 ">
                    <div class="grid">
                        <div class="col-12">
                            <span class="currency-allignment "> $1.2 m </span><br>
                            <p> Cash Collections </p>
                        </div>
                        <div class="col-12">
                            <span class="currency-allignment "> $134k</span> <br>
                            <p> Cash Collections </p>
                        </div>
                    </div>
                </div>
                <div class=" col-4">
                    <div class="grid">
                        <div class="col-12">
                            <i class="pi pi-plus up-button" style="font-size: 1.5rem"></i> <br>
                            <p>over 6.1% </p>
                        </div>
                        <div class="col-12 ">
                            <i class="pi pi-minus down-button " style="font-size: 1.5rem"></i> <br>
                            <p>under 3.4%</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div style="padding: 1rem;" class="col-12 md:col-12  lg:col-4 ">
        <div>
            <h1 class="providers-card-heading">Providers
            </h1>
            <div class="card providers-card-content-color">
                <p-chart class="providers" type="pie" [data]="products.pieChartData" [options]="pieChartOptions"
                    width="150" height="250">
                </p-chart>
            </div>
        </div>
        <div>
            <h1 class="claim-card-heading"> Claim Denials
            </h1>
            <div class="card calim-card-content-color">
                <p-chart type="bar" [data]="products.claimChartData" [options]="claimDanialChartOptions"></p-chart>
                <h3 class="claimDanial-subheadingBox">Top Reasons</h3>

                <div class="grid claimDanial_pargraph">
                    <div class="col-7">Deductible(388)</div>
                    <div class="col-5">Coding(123)</div>
                </div>

                <div class="grid claimDanial_pargraph">
                    <div class="col-7">Not Covered(215)</div>
                    <div class="col-5">Incompatibility(19)</div>


                </div>
            </div>
        </div>
    </div>
</div>