.sty {
    font-family: 'Times New Roman', Times, serif;
    color: rgb(38, 133, 156);

}

:host ::ng-deep .panel1 .p-panel-header {
    background-color: rgb(103, 193, 216);
    font-size: large;
    color: white;
    // text-align: center;
}

:host ::ng-deep .panel2 .p-panel-header {
    background-color: rgb(31, 147, 182);
    font-size: large;
    color: white;
    // text-align: center;
}

::ng-deep.check .p-checkbox-box {
    // padding: 2px;
    background-color: rgb(59, 65, 85);
}

::ng-deep.fivemin .p-checkbox-box {
    // padding: 2px;
    background-color: green;
}


::ng-deep.tenmin .p-checkbox-box{
    background-color: rgb(226, 159, 59);
}

::ng-deep.fifteenmin .p-checkbox-box{
    background-color: orangered;
}

::ng-deep.twentymin .p-checkbox-box{
    background-color: red;
}


@media screen ,(max-width: 425px) {
    .icon {
        margin-left: -35px;
    }
  
   
  }
  
  
  @media screen ,(max-width: 768px){
    .icon {
        margin-left: -55px;
    }
   
  }
  @media screen ,(max-width: 768px){
   .cayman{
    margin-left:3rem
   }
   
  }
  
  
  @media screen ,(max-width: 425){
    .icon {
        margin-left: -85px;
    }
   
  }
  @media screen ,(max-width: 425){
   .cayman{
    margin-left:4rem
   }
   
  }

.ope {
    font-family: 'Garamond (serif)';
    font-size: 28px;
    padding-top: 10px;
    padding-bottom: 15px;
    font-weight: bold;
}