.sty {
    font-family: Arial;
    color: rgba(49,144,177,255);

}

:host ::ng-deep .panel1 .p-panel-header {
    background-color: rgb(103, 193, 216);
    font-size: large;
    color: white;
    padding-left: 24vh;
}

:host ::ng-deep .panel2 .p-panel-header {
    background-color: rgb(31, 147, 182);
    font-size: large;
    color: white;
    // text-align: center;
}

// ::ng-deep.check .p-checkbox-box {
//     background-color: rgba(125,149,177,255);
// }
::ng-deep.check .p-checkbox-box {
    background-color: rgb(77, 81, 114);
}


// ::ng-deep.fivemin .p-checkbox-box {
//     // padding: 2px;
//     background-color:rgba(127,178,97,255);
// }
::ng-deep.fivemin .p-checkbox-box {
    // padding: 2px;
    background-color:rgb(4, 136, 4);
}



// ::ng-deep.tenmin .p-checkbox-box{
//     background-color: rgba(242,181,101,255);
// }
::ng-deep.tenmin .p-checkbox-box{
    background-color: rgb(228, 150, 6);
}



// ::ng-deep.fifteenmin .p-checkbox-box{
//     background-color: rgba(240,121,40,255);
// }
::ng-deep.fifteenmin .p-checkbox-box{
    background-color: rgb(255, 102, 0);
}



// ::ng-deep.twentymin .p-checkbox-box{
//     background-color: rgba(241,41,41,255);
// }
::ng-deep.twentymin .p-checkbox-box{
    background-color: red;
}


@media screen ,(max-width: 425px) {
    .icon {
        margin-left: -35px;
    }
  
   
  }
  
  
  @media screen ,(max-width: 768px){
    .icon {
        margin-left: -55px;
    }
   
  }
  @media screen ,(max-width: 768px){
   .cayman{
    margin-left:3rem
   }
   
  }
  
  
  @media screen ,(max-width: 425){
    .icon {
        margin-left: -85px;
    }
   
  }
  @media screen ,(max-width: 425){
   .cayman{
    margin-left:4rem
   }
   
  }