:host ::ng-deep .p-dropdown {
    width: 230px;
    border-radius: 0.5em;
    margin-left: 6px;
    margin-top:-8px
}

:host ::ng-deep .p-rating-icon:not(.p-rating-cancel),
:host ::ng-deep .p-rating-icon:not(.p-rating-cancel):hover {
    color: rgb(245, 176, 48) !important;
}


:host ::ng-deep .p-card .p-card-body {
    padding: 0rem;
}

:host ::ng-deep .p-card .p-card-content {
    padding: 0rem;
}



:host ::ng-deep .panel1 .p-panel-header {
    background-color:rgba(49,143,177,255);
    font-size: 28px;
    color: white;
    border-top-left-radius: 1.2vh;
    border-top-right-radius: 1.2vh;
    border-bottom: 5px solid rgba(95,188,214,255);
    font-family:Arial
    
}

:host ::ng-deep .panel1 .p-panel-content {
    background-color: rgb(226, 239, 243);
}



.image{
    
    width: 32px;
    float: left;
}

.container {
    // background: gray;
    width: 100%;
    height: auto; /* height given for illustration */
    display: flex;
    flex-flow: row wrap;
    position: relative;
    
  }



  .column {
    float: left;
    width: 20%;
    padding: 0 12px;
  }
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    // text-align: center;
    background-color: #f1f1f1;
  }

  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
      display: block;
      margin-bottom: 20px;
    }
  }


@media screen and (max-width: 1024px) ,(min-width:768) {
    .column {
      width: 50%;
      display: block;
      margin-bottom: 20px;
      
    }
  }
  // .header_footer{
  //   position: fixed;
  // }